<h4> Name: <%= cat.name %> </h4>

<ul>
    <li> Birth Date: <%= cat.birth_date %> </li>
    <li> Color: <%= cat.color %> </li>
    <li> Sex: <%= cat.sex %> </li>
    <li> Description: <%= cat.description %> </li>

    <% if action == "show" %>
        <a href="<%=cats_url%>">Go to Show All Cats</a>
    <% end %>
</ul>


